.container {
  width: 100%;
  /* border: solid 1px red; */
}

.card1 {
  background: none repeat scroll 0 0 #ffffff;
  border-radius: 80px; /*메뉴 테두리 */
  color: #444444;
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.14);
}

.card1 .content {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  padding: 30px 30px 30px 30px;
  height: 350px;
}

.card1 .name {
  font-size: 25px;
  line-height: 28px;
  margin: 10px 0 60px;
  text-align: center;
  text-transform: capitalize;
  /* border: solid 1px red; */
}

.setting {
  border: solid 1px red;
}
