body{
  font-family: "font1";
}

/* management.pug css */
.button {
  cursor: pointer;
  transition-duration: 0.4s;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}
a:active {
  color: black;
  text-decoration: none;
}
.button_modal {
  width: 49%;
}
.modal_table {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid #dddddd;
}
.text_center {
  text-align: center;
}
.text_left {
  text-align: left;
}
.button_60 {
  width: 60%;
}
.button_62 {
  width: 62%;
}
.modal_style {
  max-width: 100%;
  width: auto;
  display: table;
}

/* seating.pug + main.pug css */
.back {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.table_add {
  position: absolute;
  top: 10%;
  left: 90%;
}
.window_add {
  position: absolute;
  top: 10%;
  left: 75%;
}
.css_test img {
  cursor: move;
  width: 100px;
  position: relative;
}
.box_border {
  position: relative;
  left: 1%;
  border: 5px solid gray;
  background-color: #E6EDCE;
  display: inline-block;
  height: 90%;
  width: 65%;
  border-radius: 7px;
  text-align: center;
}
.save_button {
  position: absolute;
  top: 90%;
  left: 90%;
}
.all_dele_button {
  position: absolute;
  top: 90%;
  left: 75%;
}

/* menusetting.pug */
#menu_td {
  text-align: center;
}

#menu_img {
  width: 200px;
  height: 200px;
}
#menu_table {
  margin-left: 0%;
  margin-right: 30%;
  border: 1px solid #dddddd;
}

#add {
  margin-top: 50%;
}

/* main.pug css */

/*좌석 배치도 박스*/
.box_border2 {
  position: absolute;
  left: 2%;
  border: 5px solid gray;
  background-color: #E6EDCE;
  /* display: inline-block; */
  height: 90%;
  width: 65%;
  border-radius: 7px;
  text-align: center;
}

/*포스 메뉴 박스*/
.pos{
  position: absolute;
  left: 68%;
  border: 5px solid gray;
  background-color: #E6EDCE;
  border-radius: 7px;
  height: 90%;
  width: 30%;
}

/*포스기 메뉴*/
.content{
  /* border: solid 1px olivedrab; */
  height: 85%;
  width: 100%;
  padding-bottom: 3%;
  background-color: #E6EDCE;
  display: flex;
  flex-direction: row;  /*가로로 배치*/
  flex-wrap: wrap;  /*줄넘김*/
  justify-content: space-around;  /*콘텐츠 사이 간격*/
  align-content: flex-start;
  align-items: flex-start;
  overflow:auto;  /*스크롤*/
}

/*결제버튼*/
.pay{
  border: solid 3px gray;
  border-radius: 7px;
  padding-top: 3%;
  margin-left: 15%;
  margin-top: 5%;
  height: 10%;
  width: 70%;
  text-align: center;
  color: #FFFFF3;
  background-color: #519D9E;
  cursor: pointer;

  font-size: 32px;
  font-weight: 700;
  box-shadow: 1px 5px 5px 5px #dadce0;
}
.pay:hover {
	background-color: #59b1eb;
}

/*메뉴 추가*/
.item{
  margin-top: 3%;
  border: solid 2px #6E7783;
  flex-basis: 30%;
  height: 25%;
  background-color: #FFFFF3;
  border-radius: 7px;
  box-shadow: 1px 5px 5px 5px #dadce0;
}

.item:hover {
	background-color: #e7ff7a;
}